:root {
  --neutral-100: #e3e3e3;
  --neutral-200: #ebebeb;
  --neutral-300: #dde3ee;
  --neutral-400: #f6f6f5;
  --neutral-500: #f3f5f9;
  --gray-100: #767b85;
  --gray-200: #616161;
  --dark-100: #1c1e26;
  --purple-100: #5563f5;
  --white: #ffffff;
}
